
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "special_eliteregular", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: black;
$indigo: black;
$purple: black;
$pink: black;
$red: black;
$orange: black;
$yellow: black;
$green: black;
$teal: black;
$cyan: black;
