
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import './../fonts/stylesheet.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


strong.black {
    background-color: black;
    color: black;
}
strong {
    text-transform: uppercase !important;
}

body {
    background-image: url('./../images/bg.png');
}

.do-header img {
    width: auto;
    height: auto;
    max-width: 100%;
}

em {
    background-color: yellow;
    font-style: normal;
}

.form-control {
    //margin-left: 1em;
    background: none !important;
    border: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
}

.bbe-logo {
    width: 50px !important;
    margin-bottom: 20px;
}
