<template>
    <strong :class="{ black : !visible }">
        {{ visible ? typed : encrypt }}
    </strong>
</template>

<script>
    export default {
        props: {
            text: {
                type: String,
                default: 0
            },

            reveal: {
                type: Boolean,
                default: true
            },
        },
        data() {
            return {
                visible: false,
                typed: '',
                typed_index: 0
            }
        },
        computed: {
            encrypt() {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";

                for (var i = 0; i < this.text.length; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            }
        },
        methods: {
            typeWriter() {

                if (this.typed_index < this.text.length) {
                    this.typed = this.typed + this.text.charAt(this.typed_index);
                    this.typed_index++;

                    setTimeout(this.typeWriter, 100);
                }
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
