<template>
    <span>{{dg(weeks)}} w - {{dg(days)}} d - {{dg(hours)}} h - {{dg(minutes)}} m - {{dg(seconds)}} s</span>
</template>
<style scoped>
    th {
        padding: 1em;
    }
</style>
<script>
    export default {
        name: "lb-countdown",
        data() {
            return {
                weeks: 0,
                days: 0,
                hours: 0,
                minutes: 0,
                seconds: 0
            }
        },
        props: {
            end: {
                type: Date,
                default(){
                    return new Date('09/21/2018 07:00 PM')
                }
            },
        },
        methods: {
            dg(value) {
                // double digit
                return value >= 10 ? value : "0" + value
            },
            startTimer(duration) {
                let timer = duration;
                setInterval( () => {
                    this.weeks = Math.floor(timer / 604800 % 52);
                    this.days =   Math.floor(timer / 86400 % 7);
                    this.hours =  Math.floor(timer / 3600 % 24);
                    this.minutes =  Math.floor(timer / 60 % 60);
                    this.seconds =  Math.floor(timer % 60);

                    timer = timer - 1;

                    if (timer < 0) {
                        timer = duration;
                    }
                }, 1000);
            }
        },
        mounted() {
            const diff = this.end.getTime() - new Date().getTime();
            const diff_seconds = diff / 1000;
            const duration = Math.abs(diff_seconds);

            this.startTimer(duration);
        }
    }
</script>

